/**
 * Custom classes
 * ===============================================================================
 */
.fit-image {
    object-fit: cover;
    object-position: center;
}

.bg-light-outer {
    background: #f8f9fe;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size {
    &-17 {
        font-size: 1.063rem;
    }
}

.color {
    &-gray {
        color: $input-default-color;
        &:before {
            color: $input-default-color;
        }
    }
    &-success {
        color: $alert-success-color;
        &:before {
            color: $alert-success-color;
        }
    }
}

.placeholder-error {
    ::placeholder {
        color:  $alert-danger-color;
        opacity: 1;
    }
    :-ms-input-placeholder {
        color:  $alert-danger-color;
    }
    ::-ms-input-placeholder {
        color:  $alert-danger-color;
    }
    :-moz-placeholder {
        color:  $alert-danger-color;
    }
    ::-webkit-input-placeholder {
        color:  $alert-danger-color;
    }
    i {
        color:  $alert-danger-color !important;
    }
}
