/**
 * Variables
 * ===============================================================================
 */
$sm: 480px;
$tb: 768px;
$dt: 1024px;

$main-color: #5e72e4;
$main-darken-color: #172b4d;
$input-default-color: #adb5bd;
$input-focus-color: #8898aa;

$alert-success-color: #2dce89;
$alert-danger-color: #f5365c;

/**
 * Resets
 * ===============================================================================
 */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body,
:root {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

/**
 * Custom scrollbar
 * ===============================================================================
 */
::-webkit-scrollbar {
    @media screen and (min-width: $tb + 1) {
        width: 10px;
    }
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lighten($main-darken-color, $amount: 10);
    &:hover {
        background: lighten($main-darken-color, $amount: 14);
    }
}

/**
 * Forms & inputs
 * ===============================================================================
 */
 input[type="file"] ~ label {
    &:after {
        padding-top: 12px;
        font-size: 0.938rem;
    }
}

/**
 * Imports
 * ===============================================================================
 */
@import 'classes';
@import 'dashboard';
