/**
 * Variables
 * ===============================================================================
 */
/**
 * Resets
 * ===============================================================================
 */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body,
:root {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background: #172b4d;
}

/**
 * Custom scrollbar
 * ===============================================================================
 */
@media screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5e72e4;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b53de;
}

/**
 * Imports
 * ===============================================================================
 */
/**
 * Custom classes
 * ===============================================================================
 */
.fit-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-17 {
  font-size: 1.063rem;
}

.color-gray {
  color: #8898aa;
}
.color-success {
  color: #2dce89;
}
.color-success:before {
  color: #2dce89;
}

.placeholder-error ::-webkit-input-placeholder {
  color: #f5365c;
  opacity: 1;
}

.placeholder-error ::-moz-placeholder {
  color: #f5365c;
  opacity: 1;
}

.placeholder-error :-ms-input-placeholder {
  color: #f5365c;
  opacity: 1;
}

.placeholder-error ::-ms-input-placeholder {
  color: #f5365c;
  opacity: 1;
}

.placeholder-error ::placeholder {
  color: #f5365c;
  opacity: 1;
}
.placeholder-error :-ms-input-placeholder {
  color: #f5365c;
}
.placeholder-error ::-ms-input-placeholder {
  color: #f5365c;
}
.placeholder-error :-moz-placeholder {
  color: #f5365c;
}
.placeholder-error ::-webkit-input-placeholder {
  color: #f5365c;
}
.placeholder-error i {
  color: #f5365c !important;
}

input[type=file] ~ label:after {
  padding-top: 12px;
  font-size: 0.938rem;
}

/**
 * Dashboard
 * ===============================================================================
 */
.dashboard-wrapper {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
@media screen and (max-width: 769px) {
  .dashboard-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .main-content {
    width: 100%;
  }
}